:root {
  --color-primary-100: #181a20;
  --color-primary-200: #1c1f26;
  --color-primary-300: #112240;
  --color-primary-400: #264478;

  --color-secondary-100: #289b5f;
  --color-secondary-200: #3be88e;
  --color-secondary-300: #8fe0b6;
  --color-secondary-400: #d1e6db;

  --color-black-100: #0c0c0d;
  --color-black-200: #252526;
  --color-black-300: #3d3e40;
  --color-black-400: #626366;
  --color-black-500: #7a7c80;

  --color-grey-600: #abaeb3;
  --color-grey-700: #c4c6cc;
  --color-grey-800: #dcdfe6;
  --color-grey-850: #dee1e8;
  --color-grey-900: #e5e8ef;
  --color-grey-1000: #f2f5fa;

  --color-background: #1c2027;
  --color-borders-titles: #0a9c5180;
  --color-divider-courses: #273041;
  --color-divider-projects: #cfd7e4;
  --color-border-form: #313948;
  --color-toggle-menu: #1c1f26;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fira Code", monospace;
}

html {
  font-size: 62.5%; /* font-size 1rem = 10px on default browser settings */
  scroll-behavior: smooth; /* Scroll suave ao mudar de section */
}

/* ------------------- HEADER ------------------- */
header {
  width: 100%;
  position: fixed;
  height: 8rem;
  top: 0;
  left: 0;
  z-index: 2;

  display: flex;
  justify-content: center;
  background-color: var(--color-background);
  box-shadow: 0px 1.4rem 2.4rem rgba(0, 0, 0, 0.15);
}

nav {
  width: 100%;
  max-width: 1170px;

  display: flex;
  align-items: center;
}

.menu {
  width: 100%;
  max-width: 1170px;

  display: grid;
  grid-template-columns: 0fr;
  grid-template-areas: "logo links";
  gap: 6.5rem;
  align-items: center;
}

.menu a {
  grid-area: logo;
}

.menu .links {
  /* width: 100%; */

  display: grid;
  grid-template-columns: 8fr 1fr 1fr;
  grid-template-areas: "menu languages links";

  /* grid-area: links; */
  justify-content: space-between;
}

.menu .side-menu {
  display: none;
  visibility: hidden;
}

.links ul {
  display: flex;
  gap: 5.5rem;
}

.links li {
  list-style: none;
}

.links .link {
  position: relative;

  margin-bottom: 1.2rem;
  text-decoration: none;
  font-size: 1.4rem;
  color: var(--color-grey-1000);
}

.links .link::before {
  position: absolute;

  content: "";
  width: 0;
  height: 2px;
  bottom: -5px;
  left: 0;
  border-radius: 5px;

  transition: all 0.5s ease;
  background-color: var(--color-secondary-100);
}

.links .link:hover::before {
  width: 100%;
}

.links .link:active {
  font-weight: 700;
  color: var(--color-secondary-100);
}

.social-networks {
  font-size: 1.4rem;

  display: flex;
  align-items: center;
  gap: 2.4rem;
}

.social-networks a {
  display: flex;
  align-items: center;
  gap: 0.8rem;

  text-decoration: none;
  color: var(--color-grey-1000);
}

.languages .container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.languages button {
  cursor: pointer;
  font-size: 1.4rem;

  border: none;
  background-color: transparent;
}

.language-activated {
  font-weight: 700;
  color: var(--color-secondary-100);
}

.language-disabled {
  font-weight: 400;
  color: var(--color-grey-1000);
}

.languages .languages-divider {
  width: 0.2rem;
  height: 2rem;
  background-color: var(--color-grey-1000);
}

/* ------------------- SECTION - PRESENTATION ------------------- */
.presentation {
  position: relative;
  /* margin-top: 8rem; */
  padding-top: 8rem;

  /* min-height: calc(100vh - 8rem); */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.rectangle-left-presentation {
  width: 100%;
  object-fit: cover;

  position: absolute;
  top: 8rem;
  left: 0;
}

.rectangle-right-presentation {
  position: absolute;
  top: 8rem;
  right: 0;
}

.presentation .container {
  width: 100%;
  max-width: 1170px;

  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 8rem;
  z-index: 1;
}

.presentation .presentation-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.tag-default {
  align-self: flex-start;
  display: inline-block;
  font-weight: 400;
  font-size: 1.6rem;
  padding: 0.8rem 2.4rem;
  border-radius: 8px;
  color: var(--color-primary-300);
  background: var(--color-grey-900);
}

.presentation-description h3 {
  font-weight: 400;
  font-size: 4.8rem;
  letter-spacing: -0.04em;
  color: var(--color-black-100);
}

.presentation-description h1 {
  font-size: 6.4rem;
  letter-spacing: -0.05em;
  color: var(--color-primary-200);
}

.presentation-description p {
  max-width: 570px;
  margin-bottom: 3.2rem;
  font-size: 1.8rem;
  line-height: 3.6rem;
  letter-spacing: -0.06em;
  color: var(--color-black-400);
}

.description-buttons {
  display: flex;
  gap: 3.2rem;
}

.btn-green {
  display: flex;
  align-items: center;
  gap: 1rem;

  cursor: pointer;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  border-radius: 6px;
  border: none;
  font-size: 1.4rem;
  color: var(--color-grey-1000);
  background: var(--color-secondary-100);
}

.btn-portfolio {
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.4rem;
  text-decoration: none;
  border: transparent;
  background-color: transparent;
  color: var(--color-primary-200);
}

.btn-portfolio::before {
  position: absolute;
  content: "";
  width: 0;
  height: 1%;
  border-radius: 5px;
  bottom: 15px;
  transition: all 0.5s ease;
  background: var(--color-black-400);
}

.btn-portfolio:hover::before {
  width: 90%;
  /* background: var(--color-black-100); */
}

.mouse-line {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  position: absolute;
  bottom: 0;
}

/* ------------------- SECTION - PRESENTATION ------------------- */
.about-me {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: space-around;

  background-color: var(--color-primary-200);
  z-index: 1;
}

.rectangle-left-about {
  position: absolute;
  top: 0;
  left: 0;
}

.rectangle-right-about {
  position: absolute;
  right: 0;
  bottom: 0;
}

.about-me .container {
  width: 100%;
  max-width: 1170px;
  padding: 9rem 0;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 13rem;
  z-index: 1;
}

.images {
  padding: 2.8rem 0;

  display: flex;
  gap: 3rem;
}

.images img:nth-child(1) {
  align-self: flex-start;
}

.images img:nth-child(2) {
  align-self: flex-end;
}

.about-me .description h5 {
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 2.7rem;
  color: var(--color-secondary-100);
}

.about-me .description h4 {
  font-size: 4rem;
  line-height: 6.2rem;
  color: var(--color-grey-1000);
}

.text-about {
  margin: 2.4rem 0;
  font-size: 1.4rem;
  line-height: 2.7rem;
  color: var(--color-grey-800);
}

.buttons-contact-cv {
  margin-bottom: 4.8rem;
  display: flex;
  gap: 2.4rem;
}

.btn-download-cv {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 1.2rem;
  text-decoration: none;
  font-size: 1.6rem;
  color: var(--color-grey-1000);
}

.buttons-social-networks ul {
  display: flex;
  gap: 0.8rem;
}

.buttons-social-networks li {
  list-style: none;
}

/* ------------------- SECTION - TOOLS ------------------- */
.tools {
  display: flex;
  justify-content: center;

  background-color: var(--color-primary-100);
}

.tools .container {
  padding: 4rem 0;

  display: grid;
  grid-template-columns: repeat(5, 5rem);
  align-items: center;
  justify-content: center;
  gap: 7rem;
}

.tools img {
  justify-self: center;
}

/* ------------------- SECTION - GRADUATIONS ------------------- */
.graduations {
  display: flex;
  justify-content: center;
  background-color: var(--color-primary-200);
}

.graduations .container {
  width: 100%;
  max-width: 1170px;
  padding-top: 10rem;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.graduations .title {
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 2.7rem;
  color: var(--color-secondary-200);
}

.graduations .subtitle {
  margin-bottom: 9rem;
  font-size: 4rem;
  line-height: 6.2rem;
  color: var(--color-grey-1000);
}

.history {
  padding-left: 25rem;
  display: grid;
  grid-template-columns: 12vw 4vw 45vw;
  /* grid-template-rows: 5vh 35vh 5vh 35vh 5vh 35vh; */
  grid-template-rows: 5vh auto 5vh auto 5vh auto;
  gap: 0 8rem;
  grid-template-areas:
    "place-fimca icon-fimca degree-fimca"
    ". . description-fimca"
    "place-ipog icon-ipog degree-ipog"
    ". . description-ipog"
    "place-ulbra icon-ulbra degree-ulbra"
    ". . description-ulbra";
}

.place {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.place h5 {
  font-size: 2.4rem;
  line-height: 2.7rem;
  color: var(--color-grey-1000);
}

.place p {
  font-size: 1.8rem;
  line-height: 2.7rem;
  color: var(--color-grey-600);
}

.icon-degrees {
  justify-self: center;
}

.degree-title {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.degree h5 {
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 2.7rem;
  color: var(--color-grey-1000);
}

.degree-title .border-bottom {
  width: 8rem;
  height: 0.2rem;
  background-color: var(--color-borders-titles);
}

.history .description p {
  margin-top: 0.9rem;
  max-width: 56rem;
  font-size: 1.4rem;
  line-height: 2.7rem;
  color: var(--color-grey-600);

  margin-bottom: 10rem;
}

.degree-ulbra {
  grid-area: 5 / 3 / 6 / 4;
}
.icon-ulbra {
  grid-area: 5 / 2 / 6 / 3;
}
.place-ulbra {
  grid-area: 5 / 1 / 6 / 2;
}
.place-ipog {
  grid-area: 3 / 1 / 4 / 2;
}
.icon-ipog {
  grid-area: 3 / 2 / 4 / 3;
}
.degree-ipog {
  grid-area: 3 / 3 / 4 / 4;
}
.place-fimca {
  grid-area: 1 / 1 / 2 / 2;
}
.icon-fimca {
  grid-area: 1 / 2 / 2 / 3;
}
.degree-fimca {
  grid-area: 1 / 3 / 2 / 4;
}
.description-fimca {
  grid-area: 2 / 3 / 3 / 4;
}
.description-ipog {
  grid-area: 4 / 3 / 5 / 4;
}
.description-ulbra {
  grid-area: 6 / 3 / 7 / 4;
}
.timeline {
  display: flex;
  justify-content: center;
  grid-area: 1 / 2 / 5 / 3;
}

/* ------------------- SECTION - COURSES ------------------- */
.courses {
  position: relative;

  display: flex;
  justify-content: center;
  background-color: var(--color-primary-100);
}

.rectangle-left-courses {
  position: absolute;
  left: 0;
  bottom: 0;
}

.rectangle-right-courses {
  position: absolute;
  right: 0;
  bottom: 0;
}

.courses .container {
  width: 100%;
  max-width: 1170px;

  padding: 9rem 0;
  justify-content: center;
  align-items: center;

  display: grid;
  grid-template-columns: 33rem 6rem 33rem;
  grid-template-rows: repeat(2, 26rem);
  grid-template-areas:
    "alura-course . igti-course"
    "dio-course . cloud-course";
  gap: 50px 100px;

  z-index: 1;
}

.alura-course {
  grid-area: alura-course;
}
.igti-course {
  grid-area: igti-course;
}
.dio-course {
  grid-area: dio-course;
}
.cloud-course {
  grid-area: cloud-course;
}

.course {
  width: 33rem;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.course-title {
  margin: 2.2rem 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
}

.course-title h6 {
  font-weight: 400;
  font-size: 1.6rem;
  color: var(--color-grey-1000);
}

.course-title .border-bottom {
  width: 8rem;
  height: 0.2rem;
  background-color: var(--color-borders-titles);
}

.course p {
  text-align: center;
  font-size: 1.4rem;
  line-height: 2.7rem;
  color: var(--color-grey-600);
}

.courses .line-divider-course {
  margin: 0 3rem;
  width: 2px;
  height: 153px;
  border-radius: 2px;
  background-color: var(--color-divider-courses);
}

/* ------------------- SECTION - PROJECTS ------------------- */
.projects {
  display: flex;
  justify-content: center;
  background-color: var(--color-grey-900);
}

.projects .container {
  width: 100%;
  max-width: 1170px;

  padding-top: 13rem;
  padding-bottom: 7.8rem;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects .title {
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 2.7rem;
  color: var(--color-secondary-100);
}

.projects .subtitle {
  text-align: center;
  font-size: 4rem;
  line-height: 6.2rem;
  color: var(--color-primary-200);
}

.project {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "first second";
  margin: 15rem 0;
  align-items: center;
}

.first-quadrant {
  grid-area: first;
  justify-self: start;
}

.second-quadrant {
  grid-area: second;
  justify-self: end;
}

.project .container-project {
  position: relative;
}

.container-project > h6 {
  position: absolute;
  right: 0;
  top: -20px;

  display: inline-block;
  font-weight: 400;
  font-size: 1.6rem;
  padding: 0.8rem 2.4rem;
  border-radius: 8px;
  color: var(--color-primary-300);
  background: var(--color-secondary-400);
}

.project .description-project {
  padding: 3.2rem;
  margin-bottom: 1rem;
  border-radius: 1.6rem;
  background-color: var(--color-grey-850);

  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  align-items: flex-start;
}

.description-project h4 {
  font-size: 2.4rem;
  line-height: 2.7rem;
  color: var(--color-primary-200);
}

.description-project p {
  font-size: 1.4rem;
  line-height: 2.7rem;
  color: var(--color-black-400);
}

.container-project .details-project {
  display: flex;
  padding: 0 3.2rem;
  align-items: center;
  justify-content: space-between;
}

.project-technologies img {
  width: 32px;
  margin-right: 1.2rem;
}

.details-project .btn-access-project {
  position: relative;
  cursor: pointer;
  padding: 1rem 0;
  display: flex;
  align-items: center;
  gap: 1.4rem;
  /* Espaçamento interno um pouco diferente do projeto */
  font-size: 1.4rem;
  text-decoration: none;
  border: transparent;
  background-color: transparent;
  color: var(--color-primary-200);
}

.btn-access-project::before {
  position: absolute;
  content: "";
  left: 3.5rem;
  width: 0;
  height: 1%;
  border-radius: 5px;
  bottom: 7px;
  transition: all 0.5s ease;
  background: var(--color-black-400);
}

.btn-access-project:hover::before {
  width: 69%;
}

.divider-project {
  width: 100%;
  height: 0.3rem;
  border-radius: 2px;
  background-color: var(--color-divider-projects);
}

/* ------------------- SECTION - CONTACT ------------------- */

.contact {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-primary-200);
}

.rectangle-left-contact {
  position: absolute;
  top: 0;
  left: 0;
  /* right: 1184px; */
}

.rectangle-right-contact {
  position: absolute;
  top: 0;
  right: 0;
  /* left: 1523px; */
}

.contact .container {
  width: 100%;
  max-width: 1170px;
  padding: 24rem 0;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "description form";
  gap: 0 13rem;

  z-index: 1;
}

.description-contact {
  grid-area: description;
}

.contact form {
  grid-area: form;
}

.description-contact > img {
  width: 5.3rem;
  margin-left: 1.3rem;
  margin-bottom: 1.3rem;
}

.description-contact h2 {
  font-size: 5.6rem;
  letter-spacing: -0.05em;
  color: var(--color-grey-1000);
}

.description-contact p {
  margin: 2.4rem 0;

  font-size: 1.4rem;
  line-height: 2.7rem;
  color: var(--color-grey-700);
}

/* ---------- Form ---------- */
.contact form {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 5.5rem 5.5rem 14.9rem 5.5rem;
  gap: 1.6rem;
  grid-template-areas:
    "name email"
    "phone subject"
    "message message"
    "button button";
}

.contact .inputs {
  padding: 1.4rem 1rem;
  background: transparent;
  border-radius: 0.6rem;
  border: 1px solid var(--color-border-form);
  color: var(--color-grey-1000);
}

.contact .inputs::placeholder {
  color: var(--color-grey-800);
}

#name {
  grid-area: name;
}
#email {
  grid-area: email;
}
#phone {
  grid-area: phone;
}
#subject {
  grid-area: subject;
}
#message {
  grid-area: message;
  resize: none;
}
.btn-send-message {
  grid-area: button;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.6rem 3.2rem;
  gap: 1rem;
  border: none;
  border-radius: 6px;
  color: var(--color-grey-1000);
  background: var(--color-secondary-100);
}

/* ------------------- FOOTER ------------------- */
footer {
  display: flex;
  justify-content: center;

  height: 9.6rem;
  background-color: var(--color-primary-100);
}

footer .container {
  width: 100%;
  max-width: 1170px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 13rem;
}

.text-rights {
  font-size: 1.4rem;
  line-height: 2.7rem;
  color: var(--color-grey-1000);
}

.text-rights br {
  display: none;
  visibility: hidden;
}

.rights span:nth-child(1) {
  color: var(--color-secondary-100);
}

.rights a {
  text-decoration: none;
  color: var(--color-grey-1000);
}

footer .container .languages {
  display: none;
  visibility: hidden;
}

/* --------------- AJUSTES DO MENU INTERATIVO --------------- */
@media screen and (max-width: 1024px) {
  .menu .links.sideMenuActive {
    right: 0;
  }

  .menu .links {
    min-width: 45vw;
    height: 100vh;
    padding: 4% 6.5%;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3rem 35rem 7rem;
    grid-template-areas:
      "languages"
      "links"
      "networks";
    gap: 0;

    position: fixed;
    top: 0;
    right: -1000px;
    z-index: 100;
    transition: all 0.5s;
    background-color: var(--color-toggle-menu);
    box-shadow: -15px 0rem 2.4rem rgb(0 0 0 / 15%);
  }

  .links ul {
    grid-area: links;
    align-self: center;

    display: flex;
    flex-direction: column;
    gap: 4rem;
  }

  .links .languages {
    grid-area: languages;
    align-self: flex-start;
  }

  .links .social-networks {
    grid-area: networks;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
  }
}
