:root {
  --color-background: #1c2027;

  --color-primary-100: #181a20;
  --color-primary-200: #1c1f26;
  --color-primary-300: #112240;
  --color-primary-400: #264478;

  --color-secondary-100: #289b5f;
  --color-secondary-200: #3be88e;
  --color-secondary-300: #8fe0b6;
  --color-secondary-400: #d1e6db;

  --color-black-100: #0c0c0d;
  --color-black-200: #252526;
  --color-black-300: #3d3e40;
  --color-black-400: #626366;
  --color-black-500: #7a7c80;

  --color-grey-600: #abaeb3;
  --color-grey-700: #c4c6cc;
  --color-grey-800: #dcdfe6;
  --color-grey-900: #e5e8ef;
  --color-grey-1000: #f2f5fa;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fira Code", monospace;
}

html {
  font-size: 62.5%; /* font-size 1rem = 10px on default browser settings */
}

/* --------- HEADER --------- */
header {
  display: flex;
  justify-content: center;
  background-color: var(--color-background);
}

nav {
  width: 100%;
  max-width: 1170px;

  height: 8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* z-index: 1; */
}

.menu {
  display: flex;
  align-items: center;
  gap: 6.4rem;
}

.links a {
  margin: 0 2rem;

  text-decoration: none;
  font-size: 1.4rem;
  color: var(--color-grey-1000);
}

.language-networks {
  font-size: 1.4rem;

  display: flex;
  align-items: center;
  gap: 2.4rem;
}

.language-networks a {
  display: flex;
  align-items: center;
  gap: 0.8rem;

  text-decoration: none;
  color: var(--color-grey-1000);
}

.languages {
  display: flex;
  gap: 10px;
}

.languages button {
  cursor: pointer;
  font-size: 1.4rem;

  border: none;
  background-color: transparent;
}

.language-activated {
  font-weight: 700;
  color: var(--color-secondary-100);
}

.language-disabled {
  font-weight: 400;
  color: var(--color-grey-1000);
}

.languages .laguages-divider {
  width: 0.2rem;
  height: 2rem;
  background-color: var(--color-grey-1000);
}

/* .contact {
  display: flex;
  gap: 2.4rem;
}

.contact a {
  display: flex;
  align-items: center;
  gap: 0.8rem;

  font-size: 1.4rem;
  text-decoration: none;
  color: var(--color-grey-1000);
} */

/* --------- SECTION - PRESENTATION --------- */
.presentation {
  height: calc(100vh - 8rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.rectangle-left-presentation {
  position: absolute;
  /* top: 80px; */
  top: 60px;
  left: -20px;
}

.rectangle-right-presentation {
  position: absolute;
  rotate: 360deg;
  /* top: 80px; */
  top: 60px;
  right: -35px;
}

.presentation .container {
  width: 100%;
  max-width: 1170px;

  /* display: flex;
  align-items: center;
  gap: 8rem; */
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 8rem;
}

.tag-default {
  display: inline-block;
  font-weight: 400;
  font-size: 1.6rem;
  padding: 0.8rem 2.4rem;
  border-radius: 8px;
  color: var(--color-primary-300);
  background: var(--color-grey-900);
}

.presentation-description h3 {
  font-weight: 400;
  font-size: 4.8rem;
  /* line-height: 6.3rem; */
  letter-spacing: -0.04em;
  color: var(--color-black-100);
}

.presentation-description h1 {
  /* font-weight: 700; */
  font-size: 6.4rem;
  /* line-height: 8.4rem; */
  letter-spacing: -0.05em;
  color: var(--color-primary-200);
}

.presentation-description p {
  max-width: 570px;
  margin-bottom: 3.2rem;
  font-size: 1.8rem;
  line-height: 3.6rem;
  letter-spacing: -0.06em;
  color: var(--color-black-400);
}

.description-buttons {
  display: flex;
  gap: 3.2rem;
}

.btn-green {
  display: flex;
  align-items: center;
  gap: 1rem;

  cursor: pointer;
  padding: 16px 32px;
  text-decoration: none;
  border-radius: 6px;
  border: none;
  font-size: 1.4rem;
  color: var(--color-grey-1000);
  background: var(--color-secondary-100);
}

.btn-portfolio {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.4rem;
  text-decoration: none;
  border: transparent;
  background-color: transparent;
  color: var(--color-primary-200);
}

/* .presentation-image {
  z-index: 0;
} */

.mouse-line {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  position: absolute;
  bottom: 0;
}

/* --------- SECTION - PRESENTATION --------- */
.about-me {
  display: flex;
  align-items: center;
  justify-content: space-around;

  height: 75rem;
  background-color: var(--color-primary-200);
}

.about-me .container {
  width: 100%;
  max-width: 1170px;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 13rem;
  /* display: flex; */
}

.images {
  display: flex;
  gap: 3rem;
}

.images img:nth-child(1) {
  align-self: flex-start;
}

.images img:nth-child(2) {
  align-self: flex-end;
}

.about-me .description h5 {
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 2.7rem;
  color: var(--color-secondary-100);
}

.about-me .description h4 {
  font-size: 4rem;
  line-height: 6.2rem;
  color: var(--color-grey-1000);
}

.about-me .description p {
  margin: 2.4rem 0;
  font-size: 1.4rem;
  line-height: 2.7rem;
  color: var(--color-grey-800);
}

.buttons-contact-cv {
  margin-bottom: 4.8rem;
  display: flex;
  gap: 2.4rem;
}

.btn-download-cv {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 1.2rem;
  text-decoration: none;
  font-size: 1.6rem;
  color: var(--color-grey-1000);
}

/* --------- SECTION - TOOLS --------- */
.tools {
  display: grid;
  grid-template-columns: repeat(5, 5rem);
  align-items: center;
  justify-content: center;
  gap: 7rem;

  /* display: flex;
  align-items: center;
  justify-content: center;
  gap: 7rem; */

  height: 12.5rem;
  background-color: var(--color-primary-100);
}

.tools img {
  justify-self: center;
}

/* --------- SECTION - GRADUATIONS --------- */
.graduations {
  display: flex;
  justify-content: center;
  background-color: var(--color-primary-200);
}

.graduations .container {
  width: 100%;
  max-width: 1170px;
  padding-top: 10rem;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.graduations .title {
  /* align-self: center; */
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 2.7rem;
  color: var(--color-secondary-200);
}

.graduations .subtitle {
  margin-bottom: 9rem;
  font-size: 4rem;
  line-height: 6.2rem;
  color: var(--color-grey-1000);
}

.history {
  padding-left: 25rem;
  display: grid;
  grid-template-columns: 10vw 4vw 40vw;
  grid-template-rows: 8vh 25vh 8vh 25vh 8vh 25vh;
  gap: 0 8rem;
  /* grid-auto-flow: row; */
  grid-template-areas:
    "place-fimca icon-fimca degree-fimca"
    ". . description-fimca"
    "place-ipog icon-ipog degree-ipog"
    ". . description-ipog"
    "place-ulbra icon-ulbra degree-ulbra"
    ". . description-ulbra";
}

.place {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.place h5 {
  font-size: 2.4rem;
  line-height: 2.7rem;
  color: var(--color-grey-1000);
}

.place p {
  font-size: 1.8rem;
  line-height: 2.7rem;
  color: var(--color-grey-600);
}

.icon-degrees {
  justify-self: center;
}

.degree h5 {
  font-weight: 400;
  font-size: 2.4rem;
  color: var(--color-grey-1000);
}

.history .description p {
  width: 35rem;
  font-size: 1.4rem;
  line-height: 2.7rem;
  color: var(--color-grey-600);
}

.degree-ulbra {
  grid-area: 5 / 3 / 6 / 4;
}
.icon-ulbra {
  grid-area: 5 / 2 / 6 / 3;
}
.place-ulbra {
  grid-area: 5 / 1 / 6 / 2;
}
.place-ipog {
  grid-area: 3 / 1 / 4 / 2;
}
.icon-ipog {
  grid-area: 3 / 2 / 4 / 3;
}
.degree-ipog {
  grid-area: 3 / 3 / 4 / 4;
}
.place-fimca {
  grid-area: 1 / 1 / 2 / 2;
}
.icon-fimca {
  grid-area: 1 / 2 / 2 / 3;
}
.degree-fimca {
  grid-area: 1 / 3 / 2 / 4;
}
.description-fimca {
  grid-area: 2 / 3 / 3 / 4;
}
.description-ipog {
  grid-area: 4 / 3 / 5 / 4;
}
.description-ulbra {
  grid-area: 6 / 3 / 7 / 4;
}
.timeline {
  display: flex;
  /* align-self: center; */
  justify-content: center;
  grid-area: 2 / 2 / 5 / 3;
}

/* --------- SECTION - COURSES --------- */
.courses {
  display: flex;
  justify-content: center;

  height: 37rem;
  background-color: var(--color-primary-100);
}

.courses .container {
  width: 80%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.course {
  width: 33rem;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.course h4 {
  margin-bottom: 1.6rem;
  text-align: center;
  font-size: 2.4rem;
  line-height: 2.7rem;
  color: var(--color-grey-1000);
}

.course h6 {
  margin-bottom: 3rem;
  border-bottom: 2px solid #0a9c5180;

  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2rem;
  color: var(--color-grey-1000);
}

.course p {
  text-align: center;
  font-size: 14px;
  line-height: 27px;
  color: var(--color-grey-600);
}

.courses .line {
  margin: 0 3rem;
  width: 2px;
  height: 153px;
  border-radius: 2px;
  background-color: #273041;
}

/* --------- SECTION - PROJECTS --------- */
.projects {
  display: flex;
  justify-content: center;
  /* height: 100rem; */
  background-color: var(--color-grey-900);
}

.projects .container {
  width: 100%;
  max-width: 1170px;

  margin-top: 13rem;
  margin-bottom: 7.8rem;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects .title {
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 2.7rem;
  color: var(--color-secondary-100);
}

.projects .subtitle {
  font-size: 4rem;
  line-height: 6.2rem;
  color: var(--color-primary-200);
}

.project {
  display: flex;
  gap: 5.4rem;
  margin: 16rem 0;
  align-items: center;
}

.project .container-project {
  position: relative;
}

.container-project > h6 {
  position: absolute;
  right: 0;
  top: -20px;

  display: inline-block;
  font-weight: 400;
  font-size: 1.6rem;
  padding: 0.8rem 2.4rem;
  border-radius: 8px;
  color: var(--color-primary-300);
  background: var(--color-secondary-400);
}

.project .description-project {
  /* width: 57rem; */
  padding: 3.2rem;
  margin-bottom: 1rem;
  border-radius: 1.6rem;
  background-color: #e0e3eb;

  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  align-items: flex-start;
}

.description-project h4 {
  font-size: 2.4rem;
  line-height: 2.7rem;
  color: var(--color-primary-200);
}

.description-project p {
  font-size: 1.4rem;
  line-height: 2.7rem;
  color: var(--color-black-400);
}

.container-project .details-project {
  display: flex;
  padding: 0 3.2rem;
  justify-content: space-between;
}

.project-technologies img {
  width: 32px;
  margin-right: 1.2rem;
}

.details-project .btn-access-project {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 1.4rem;
  /* Espaçamento interno um pouco diferente do projeto */
  font-size: 1.4rem;
  border: transparent;
  background-color: transparent;
  color: var(--color-primary-200);
}

.divider-project {
  width: 100%;
  height: 0.3rem;
  border-radius: 2px;
  background-color: #cfd7e4;
}
