:root {
  --color-primary-100: #181a20;
  --color-primary-200: #1c1f26;
  --color-primary-300: #112240;
  --color-primary-400: #264478;

  --color-secondary-100: #289b5f;
  --color-secondary-200: #3be88e;
  --color-secondary-300: #8fe0b6;
  --color-secondary-400: #d1e6db;

  --color-black-100: #0c0c0d;
  --color-black-200: #252526;
  --color-black-300: #3d3e40;
  --color-black-400: #626366;
  --color-black-500: #7a7c80;

  --color-grey-600: #abaeb3;
  --color-grey-700: #c4c6cc;
  --color-grey-800: #dcdfe6;
  --color-grey-900: #e5e8ef;
  --color-grey-1000: #f2f5fa;

  --color-background: #1c2027;
  --color-borders-titles: #0a9c5180;
  --color-divider-courses: #273041;
  --color-divider-projects: #cfd7e4;
  --color-description-project: #e0e3eb;
  --color-border-form: #313948;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fira Code", monospace;
}

html {
  font-size: 62.5%; /* font-size 1rem = 10px on default browser settings */
}

/* --------- HEADER --------- */
header {
  display: flex;
  justify-content: center;
  background-color: var(--color-background);
}

nav {
  width: 100%;
  max-width: 1170px;

  height: 8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu {
  display: flex;
  align-items: center;
  gap: 6.4rem;
}

.links a {
  margin: 0 2rem;

  text-decoration: none;
  font-size: 1.4rem;
  color: var(--color-grey-1000);
}

.language-networks {
  font-size: 1.4rem;

  display: flex;
  align-items: center;
  gap: 2.4rem;
}

.language-networks a {
  display: flex;
  align-items: center;
  gap: 0.8rem;

  text-decoration: none;
  color: var(--color-grey-1000);
}

.languages {
  display: flex;
  gap: 0.7rem;
}

.languages button {
  cursor: pointer;
  font-size: 1.4rem;

  border: none;
  background-color: transparent;
}

.language-activated {
  font-weight: 700;
  color: var(--color-secondary-100);
}

.language-disabled {
  font-weight: 400;
  color: var(--color-grey-1000);
}

.languages .languages-divider {
  width: 0.2rem;
  height: 2rem;
  background-color: var(--color-grey-1000);
}

/* --------- SECTION - PRESENTATION --------- */
.presentation {
  position: relative;

  height: calc(100vh - 8rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.rectangle-left-presentation {
  width: 100%;
  object-fit: cover;

  position: absolute;
  top: 0;
  left: 0;
}

.rectangle-right-presentation {
  position: absolute;
  top: 0;
  right: 0;
}

.presentation .container {
  width: 100%;
  max-width: 1170px;

  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 8rem;
  z-index: 1;
}

.tag-default {
  display: inline-block;
  font-weight: 400;
  font-size: 1.6rem;
  padding: 0.8rem 2.4rem;
  border-radius: 8px;
  color: var(--color-primary-300);
  background: var(--color-grey-900);
}

.presentation-description h3 {
  font-weight: 400;
  font-size: 4.8rem;
  /* line-height: 6.3rem; */
  letter-spacing: -0.04em;
  color: var(--color-black-100);
}

.presentation-description h1 {
  /* font-weight: 700; */
  font-size: 6.4rem;
  /* line-height: 8.4rem; */
  letter-spacing: -0.05em;
  color: var(--color-primary-200);
}

.presentation-description p {
  max-width: 570px;
  margin-bottom: 3.2rem;
  font-size: 1.8rem;
  line-height: 3.6rem;
  letter-spacing: -0.06em;
  color: var(--color-black-400);
}

.description-buttons {
  display: flex;
  gap: 3.2rem;
}

.btn-green {
  display: flex;
  align-items: center;
  gap: 1rem;

  cursor: pointer;
  padding: 16px 32px;
  text-decoration: none;
  border-radius: 6px;
  border: none;
  font-size: 1.4rem;
  color: var(--color-grey-1000);
  background: var(--color-secondary-100);
}

.btn-portfolio {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.4rem;
  text-decoration: none;
  border: transparent;
  background-color: transparent;
  color: var(--color-primary-200);
}

.mouse-line {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  position: absolute;
  bottom: 0;
}

/* --------- SECTION - PRESENTATION --------- */
.about-me {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: space-around;

  height: 75rem;
  background-color: var(--color-primary-200);
}

.rectangle-left-about {
  position: absolute;
  top: 0;
  left: 0;
}

.rectangle-right-about {
  position: absolute;
  right: 0;
  bottom: 0;
}

.about-me .container {
  width: 100%;
  max-width: 1170px;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 13rem;
  z-index: 1;
}

.images {
  display: flex;
  gap: 3rem;
}

.images img:nth-child(1) {
  align-self: flex-start;
}

.images img:nth-child(2) {
  align-self: flex-end;
}

.about-me .description h5 {
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 2.7rem;
  color: var(--color-secondary-100);
}

.about-me .description h4 {
  font-size: 4rem;
  line-height: 6.2rem;
  color: var(--color-grey-1000);
}

.about-me .description p {
  margin: 2.4rem 0;
  font-size: 1.4rem;
  line-height: 2.7rem;
  color: var(--color-grey-800);
}

.buttons-contact-cv {
  margin-bottom: 4.8rem;
  display: flex;
  gap: 2.4rem;
}

.btn-download-cv {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 1.2rem;
  text-decoration: none;
  font-size: 1.6rem;
  color: var(--color-grey-1000);
}

/* --------- SECTION - TOOLS --------- */
.tools {
  display: grid;
  grid-template-columns: repeat(5, 5rem);
  align-items: center;
  justify-content: center;
  gap: 7rem;

  height: 12.5rem;
  background-color: var(--color-primary-100);
}

.tools img {
  justify-self: center;
}

/* --------- SECTION - GRADUATIONS --------- */
.graduations {
  display: flex;
  justify-content: center;
  background-color: var(--color-primary-200);
}

.graduations .container {
  width: 100%;
  max-width: 1170px;
  padding-top: 10rem;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.graduations .title {
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 2.7rem;
  color: var(--color-secondary-200);
}

.graduations .subtitle {
  margin-bottom: 9rem;
  font-size: 4rem;
  line-height: 6.2rem;
  color: var(--color-grey-1000);
}

.history {
  padding-left: 25rem;
  display: grid;
  grid-template-columns: 10vw 4vw 40vw;
  grid-template-rows: 6vh 35vh 6vh 35vh 6vh 35vh;
  gap: 0 8rem;
  grid-template-areas:
    "place-fimca icon-fimca degree-fimca"
    ". . description-fimca"
    "place-ipog icon-ipog degree-ipog"
    ". . description-ipog"
    "place-ulbra icon-ulbra degree-ulbra"
    ". . description-ulbra";
}

.place {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.place h5 {
  font-size: 2.4rem;
  line-height: 2.7rem;
  color: var(--color-grey-1000);
}

.place p {
  font-size: 1.8rem;
  line-height: 2.7rem;
  color: var(--color-grey-600);
}

.icon-degrees {
  justify-self: center;
}

.degree-title {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.degree h5 {
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 2.7rem;
  color: var(--color-grey-1000);
}

.degree-title .border-bottom {
  width: 8rem;
  height: 0.2rem;
  background-color: var(--color-borders-titles);
}

.history .description p {
  margin-top: 0.9rem;
  width: 56rem;
  font-size: 1.4rem;
  line-height: 2.7rem;
  color: var(--color-grey-600);
}

.degree-ulbra {
  grid-area: 5 / 3 / 6 / 4;
}
.icon-ulbra {
  grid-area: 5 / 2 / 6 / 3;
}
.place-ulbra {
  grid-area: 5 / 1 / 6 / 2;
}
.place-ipog {
  grid-area: 3 / 1 / 4 / 2;
}
.icon-ipog {
  grid-area: 3 / 2 / 4 / 3;
}
.degree-ipog {
  grid-area: 3 / 3 / 4 / 4;
}
.place-fimca {
  grid-area: 1 / 1 / 2 / 2;
}
.icon-fimca {
  grid-area: 1 / 2 / 2 / 3;
}
.degree-fimca {
  grid-area: 1 / 3 / 2 / 4;
}
.description-fimca {
  grid-area: 2 / 3 / 3 / 4;
}
.description-ipog {
  grid-area: 4 / 3 / 5 / 4;
}
.description-ulbra {
  grid-area: 6 / 3 / 7 / 4;
}
.timeline {
  display: flex;
  justify-content: center;
  grid-area: 2 / 2 / 5 / 3;
}

/* --------- SECTION - COURSES --------- */
.courses {
  position: relative;

  display: flex;
  justify-content: center;
  background-color: var(--color-primary-100);
}

.rectangle-left-courses {
  position: absolute;
  left: 0;
  bottom: 0;
}

.rectangle-right-courses {
  position: absolute;
  right: 0;
  bottom: 0;
}

.courses .container {
  width: 100%;
  max-width: 1170px;

  margin: 9.7rem 0;
  justify-content: center;
  align-items: center;

  display: grid;
  grid-template-columns: 33rem 6rem 33rem;
  grid-template-rows: repeat(2, 26rem);
  gap: 50px 100px;

  z-index: 1;
}

.course {
  width: 33rem;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.course img {
  margin-bottom: 2.4rem;
}

.course-title {
  margin-bottom: 2.2rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
}

.course-title h6 {
  font-weight: 400;
  font-size: 1.6rem;
  color: var(--color-grey-1000);
}

.course-title .border-bottom {
  width: 8rem;
  height: 0.2rem;
  background-color: var(--color-borders-titles);
}

.course p {
  text-align: center;
  font-size: 14px;
  line-height: 27px;
  color: var(--color-grey-600);
}

.courses .line {
  margin: 0 3rem;
  width: 2px;
  height: 153px;
  border-radius: 2px;
  background-color: var(--color-divider-courses);
}

/* --------- SECTION - PROJECTS --------- */
.projects {
  display: flex;
  justify-content: center;
  background-color: var(--color-grey-900);
}

.projects .container {
  width: 100%;
  max-width: 1170px;

  margin-top: 13rem;
  margin-bottom: 7.8rem;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects .title {
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 2.7rem;
  color: var(--color-secondary-100);
}

.projects .subtitle {
  font-size: 4rem;
  line-height: 6.2rem;
  color: var(--color-primary-200);
}

.project {
  display: flex;
  gap: 5.4rem;
  margin: 16rem 0;
  align-items: center;
}

.project .container-project {
  position: relative;
}

.container-project > h6 {
  position: absolute;
  right: 0;
  top: -20px;

  display: inline-block;
  font-weight: 400;
  font-size: 1.6rem;
  padding: 0.8rem 2.4rem;
  border-radius: 8px;
  color: var(--color-primary-300);
  background: var(--color-secondary-400);
}

.project .description-project {
  padding: 3.2rem;
  margin-bottom: 1rem;
  border-radius: 1.6rem;
  background-color: var(--color-description-project);

  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  align-items: flex-start;
}

.description-project h4 {
  font-size: 2.4rem;
  line-height: 2.7rem;
  color: var(--color-primary-200);
}

.description-project p {
  font-size: 1.4rem;
  line-height: 2.7rem;
  color: var(--color-black-400);
}

.container-project .details-project {
  display: flex;
  padding: 0 3.2rem;
  justify-content: space-between;
}

.project-technologies img {
  width: 32px;
  margin-right: 1.2rem;
}

.details-project .btn-access-project {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 1.4rem;
  /* Espaçamento interno um pouco diferente do projeto */
  font-size: 1.4rem;
  text-decoration: none;
  border: transparent;
  background-color: transparent;
  color: var(--color-primary-200);
}

.divider-project {
  width: 100%;
  height: 0.3rem;
  border-radius: 2px;
  background-color: var(--color-divider-projects);
}

/* --------- SECTION - CONTACT --------- */

.contact {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 85rem;
  background-color: var(--color-primary-200);
}

.rectangle-left-contact {
  position: absolute;
  top: 0;
  left: 0;
}

.rectangle-right-contact {
  position: absolute;
  top: 0;
  right: 0;
}

.contact .container {
  width: 100%;
  max-width: 1170px;

  display: flex;
  gap: 0 13rem;

  z-index: 1;
}

.description-contact {
  width: 47rem;
}

.description-contact img {
  width: 5.3rem;
  margin-bottom: 1.3rem;
}

.description-contact h2 {
  font-size: 5.6rem;
  letter-spacing: -0.05em;
  color: var(--color-grey-1000);
}

.description-contact p {
  margin: 2.4rem 0;

  font-size: 1.4rem;
  line-height: 2.7rem;
  color: var(--color-grey-700);
}

/* ------ Form ------ */
.contact form {
  display: grid;
  grid-template-columns: 27.7rem 27.7rem;
  grid-template-rows: 5.5rem 5.5rem 14.9rem 5.5rem;
  gap: 1.6rem;
  grid-template-areas:
    "name email"
    "phone subject"
    "message message"
    "button button";
}

.contact .inputs {
  padding: 1.4rem 1rem;
  background: transparent;
  border-radius: 0.6rem;
  border: 1px solid var(--color-border-form);
  color: var(--color-grey-1000);
}

#name {
  grid-area: name;
}
#email {
  grid-area: email;
}
#phone {
  grid-area: phone;
}
#subject {
  grid-area: subject;
}
#message {
  grid-area: message;
  resize: none;
}
.btn-send-message {
  grid-area: button;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.6rem 3.2rem;
  gap: 1rem;
  border: none;
  border-radius: 6px;
  color: var(--color-grey-1000);
  background: var(--color-secondary-100);
}

/* --------- FOOTER --------- */
footer {
  display: flex;
  justify-content: center;

  height: 9.6rem;
  background-color: var(--color-primary-100);
}

footer .container {
  width: 100%;
  max-width: 1170px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 13rem;
}

.rights p {
  font-size: 1.4rem;
  line-height: 2.7rem;
  color: var(--color-grey-1000);
}

.rights span {
  color: var(--color-borders-titles);
}

.rights a {
  color: var(--color-grey-1000);
}
